@import '/styles/variables';

.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 24px 56px;
	gap: 24px;
	max-width: 1440px;

	.ourLocations {
		display: flex;

		.locationList {
			width: 34%;
      min-width: 488px;
			padding: 16px 24px 16px 0;
			overflow-y: auto;
			border-bottom: 1px solid $secondary-ultra-lite-blue;
			border-top: 1px solid $secondary-ultra-lite-blue;
			max-height: 800px;
			gap: 8px;
			&::-webkit-scrollbar {
				width: 8px; // Ширина скроллбара
			}

			&::-webkit-scrollbar-thumb {
				background-color: $secondary-blue-2; // Цвет бегунка
				border-radius: 100px; // Округление бегунка
				min-height: 30px; // Минимальная высота бегунка
			}

			&::-webkit-scrollbar-track {
				background-color: $secondary-ultra-lite-blue; // Цвет фона трека
				border-radius: 8px; // Округление трека
			}

			&::-webkit-scrollbar-thumb:hover {
				background-color: $secondary-blue-2;
			}

			.city {
				border-bottom: 1px solid $secondary-ultra-lite-blue;

				&:nth-child(1) .cityHeader {
          margin-top: 16px;
					margin-bottom: 32px;
				}

				&:not(:nth-child(1)) .cityHeader {
					margin: 32px 0;
				}

				.cityHeader {
					cursor: pointer;
					display: flex;
					justify-content: space-between;
					align-items: center;

					h4 {
						font-family: Nunito;
						font-size: 26px;
						font-weight: 600;
						line-height: 36px;
						text-align: left;
					}

					.toggleIcon {
						width: 16px;
						height: 8px;
					}
				}

				.cityDescription {
					h5 {
						font-family: Nunito;
						font-size: 20px;
						font-weight: 600;
						line-height: 28px;
						text-align: left;
						color: $neutral-dark-grey;
					}
				}
				.clinicList {
					margin-top: 16px;
					overflow-y: auto;
					display: flex;
					flex-direction: column;
					gap: 16px;

					.mapVisual {
						display: none;
					}

					.clinic {
						cursor: pointer;
						display: flex;
						align-items: center;
						gap: 12px;

						h5 {
							font-family: Nunito;
							font-size: 20px;
							font-weight: 600;
							line-height: 28px;
							text-align: left;
							color: $neutral-dark-grey;
							&:hover {
								color: $secondary-blue-2;
							}
						}

						.icon {
							margin-right: 8px;
						}
					}
				}
			}
		}

		.clinic:last-child {
			margin-bottom: 32px;
		}

		.map {
			width: 900px;
			height: 800px;
		}

		.modalOverlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			z-index: 10000;
			padding: 20px;
		}

		.modalContent {
			background-color: #fff;
			border-radius: 16px;
			position: relative;
			display: flex;
			flex-direction: column;
			max-height: 716px;
			max-width: 1000px;
			padding: 72px 32px 32px 32px;
			width: 100%;
			height: 100%;
		}
		.modalHeader {
			width: 100%;
			margin-bottom: 32px;
			h4 {
				font-family: Nunito;
				font-size: 26px;
				font-weight: 600;
				line-height: 36px;
				text-align: left;
				margin-bottom: 16px;
			}
			.closeButton {
				background: none;
				border: none;
				font-size: 24px;
				cursor: pointer;
				position: absolute;
				top: 20px;
				right: 32px;
				color: $secondary-blue-2;
			}
		}
		.modalData {
			display: flex;
			height: 100%;
			flex-direction: column;
			gap: 32px;
			overflow-y: scroll;
			&::-webkit-scrollbar {
				width: 8px; // Ширина скроллбара
			}

			&::-webkit-scrollbar-thumb {
				background-color: $secondary-blue-2; // Цвет бегунка
				border-radius: 100px; // Округление бегунка
				min-height: 30px; // Минимальная высота бегунка
			}

			&::-webkit-scrollbar-track {
				background-color: $secondary-ultra-lite-blue; // Цвет фона трека
				border-radius: 8px; // Округление трека
			}

			&::-webkit-scrollbar-thumb:hover {
				background-color: $secondary-blue-2; // Цвет бегунка при наведении
			}
		}
		.modalSection {
			display: flex;
			flex-direction: column;
		}
		.sectionTitle {
			margin-bottom: 16px;
		}
		.sectionText {
			color: $secondary-blue-2;
		}
		.sectionPerson {
			display: flex;
			flex-direction: column;
			gap: 8px;
			margin-bottom: 16px;
		}
	}
}

@media (max-width: 1024px) {
	.container {
		h2 {
			padding: 16px 32px;
			font-size: 40px;
			line-height: 52px;
		}
		padding: 0;
		gap: unset;
		.ourLocations {
			.locationList {
				width: 43%;
        min-width: 320px;
				padding: 16px 8px 16px 32px;
        .city{
          &:nth-child(1) .cityHeader {
            margin-top: 8px;
            margin-bottom: 24px;
          }
  
          &:not(:nth-child(1)) .cityHeader {
            margin: 24px 0;
          }
          .cityHeader{
            h4{
              font-weight: 600;
              font-size: 20px;
              line-height: 28px;
            }
          }
          .clinicList{
            .clinic{
              h5{
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
              }
            }
          }
        }
			}
			.modalOverlay{
				.modalContent{
					.modalHeader{
						.modalTitle{

						}
						p{
							font-weight: 400;
							font-size: 18px;
							line-height: 26px;
							color: #577481;
						}

					}
					.modalData{
						.modalSection{
							.sectionTitle{
								display: flex;
								align-items: center;
								gap: 8px;
								font-weight: 600;
								font-size: 20px;
								line-height: 28px;
							}
							.sectionText{
								font-weight: 400;
								font-size: 18px;
								line-height: 26px;
								color: #577481;
							}
							.sectionTextName{
								font-weight: 600;
								font-size: 18px;
								line-height: 24px;
								color: #191C1F;
							}
							.sectionText{
								font-weight: 400;
								font-size: 18px;
								line-height: 26px;
								color: #577481;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 739px) {
	.container {
		h2 {
			padding: 16px;
			font-size: 26px;
			line-height: 32px;
		}
		padding: 0;
		gap: unset;
		.ourLocations {
			.locationList {
				width: 100%;
        min-width: 320px;
				padding: 16px 16px 60px 16px;
        .city{
          width: 100%;
          &:nth-child(1) .cityHeader {
            margin-top: unset;
            margin-bottom: 16px;
          }
          &:not(:nth-child(1)) .cityHeader {
            margin: 16px 0;
          }
          .cityHeader{
            width: 100%;
            h4{
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
            }
          }
          .clinicList{
            margin-top: 8px;
						.mapVisual{
							display: block;
						}
            .clinic{
              h5{
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
              }
            }
          }
        }
			}
			.modalOverlay{
				padding: 0;
				align-items: flex-start;
				justify-content: flex-start;
				overflow-y: auto;
				-webkit-overflow-scrolling: touch;
				.modalContent{
					padding: 72px 16px 32px 16px;
					max-height: 100vh;
					border-radius: 0;
					.modalHeader{
						.modalTitle{
							font-weight: 600;
							font-size: 18px;
							line-height: 25px;
						}
						p {
							font-weight: 400;
							font-size: 16px;
							line-height: 24px;
							color: #191C1F;
						}

					}
					.modalData{
						gap: 24px;
						.modalSection{
							.sectionTitle{
								font-size: 16px;
								line-height: 22px;
								color: #191C1F;
							}
							.sectionText{
								font-weight: 400;
								font-size: 16px;
								line-height: 24px;
								color: #577481;
							}
							.sectionTextName{
								font-weight: 600;
								font-size: 16px;
								line-height: 24px;
								color: #191C1F;
							}
							.sectionText{
								font-weight: 400;
								font-size: 16px;
								line-height: 24px;
								color: #577481;
							}
						}
					}
				}
			}
		}
	}
}
