@import '/styles/variables';

.questionsList {
	display: flex;
	flex-direction: column;
	gap: 32px;

	@media (max-width: 1024px) {
		gap: 16px;
	}
}

.questionContainer {
	display: flex;
	flex-direction: column;

	&:last-child {
		.separator {
			margin-top: 0;
			display: none;
		}
	}
}

.withBc {
	background-color: #fff;
}

.withPadding {
	border-radius: 24px;
	padding: 32px;
}	

@media (max-width: 739px) {
	.withPadding {
		padding: 16px;
	}
}

.question {
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: color 0.3s ease;


	h4 {
		font-family: Nunito;
		font-size: 26px;
		font-weight: 600;
		line-height: 36px;
		text-align: left;
		color: $neutral-black;

		@media (max-width: 1024px) {
			font-size: 20px;
			line-height: 28px;
		}

		@media (max-width: 739px) {
			font-size: 18px;
			line-height: 22px;
		}
		&:hover { 
			color: $secondary-blue-2;
		}
		
	}
}

.toggleArrow {
	width: 16px;
	height: 8px;
}

.answer {
	white-space: pre-wrap;
	font-family: Nunito;
	color: $neutral-dark-grey;
	font-size: 20px;
	line-height: 26px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
	opacity: 0;

	@media (max-width: 1024px) {
		font-size: 16px;
		line-height: 22px;
	}

	.margin {
		min-height: 0;
		transition: min-height 0.3s ease-in-out;

		&.expanded {
			min-height: 32px;
		}
		
		@media (max-width: 1024px) {
			&.expanded {
				min-height: 24px;
			}
		}

		@media (max-width: 739px) {
			&.expanded {
				min-height: 16px;
			}
		}
	}

	h1, h2, h3, a, p {
		color: $neutral-dark-grey;
	}

	p {
		margin: 1em 0;
		font-size: 20px;
		line-height: 26px;

		@media (max-width: 1024px) {
			font-size: 16px;
			line-height: 22px;
		}
	}

	h1 a, h2 a, h3 a {
		font-size: inherit;
	}

	a {
		text-decoration: underline;
	}

	&.expanded {
		max-height: 2500px;
		opacity: 1;
	}
}
.answer ul {
	margin: 16px 0;
	padding-left: 24px;
	list-style-type: disc;

	li {
		font-family: Nunito;
		font-size: 16px;
		line-height: 24px;
		color: $neutral-dark-grey;
		margin-bottom: 8px;

		&::marker {
			color: $primary-blue;
		}
	}

	@media (max-width: 1024px) {
		padding-left: 16px;

		li {
			font-size: 14px;
			line-height: 20px;
		}
	}
}

.answer ol {
	margin: 16px 0;
	padding-left: 24px;
	list-style-type: decimal;

	li {
		font-family: Nunito;
		font-size: 16px;
		line-height: 24px;
		color: $neutral-dark-grey;
		margin-bottom: 8px;

		&::marker {
			color: $primary-blue;
			font-weight: bold;
		}
	}

	@media (max-width: 1024px) {
		padding-left: 16px;

		li {
			font-size: 14px;
			line-height: 20px;
		}
	}
}


.answer ul, .answer ol {
	margin-top: 8px;
	margin-bottom: 8px;
}

.separator {
	margin-top: 32px;
	border-bottom: 1px $secondary-ultra-lite-blue solid;

	@media (max-width: 1024px) {
		margin-top: 24px;
	}
}

@media (max-width: 1024px) {
	.question {
		gap: 8px;
	}
}


