@import '/styles/variables';

.container {
	min-width: 320px;
	width: 100%;
	height: 72px;

	& > div {
		position: relative;
		width: calc(100% - 2px);
		height: 100%;
		transition: background-color 0.3s ease-out;
		background-color: $primary-red;

		&:before {
			transition: background-color 0.3s ease-out;
			background-color: $primary-red;
		}

		&:hover {
			background-color: $secondary-lite-red-1;

			&:before {
				background-color: $neutral-white;
			}
		}

		&:active {
			background-color: $primary-red;

			&:before {
				background-color: $secondary-lite-red-1;
			}
		}
	}

	.buttonContainer {
		position: absolute;
		width: 100%;
		top: 1px;
		left: 1px;
		min-width: 318px;
		height: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		gap: 16px;
		border: none;
		border-radius: 18px;
		background-color: $primary-red;
		transition: background-color 0.3s ease-out;

		.buttonText {
			font-family: $button-desktop-font;
			font-weight: $button-desktop-weight;
			font-size: $button-desktop-size;
			line-height: $button-desktop-line-height;
			text-align: $button-desktop-text-align;
			color: $neutral-white;
		}

		.iconContainer {
			display: flex;
			align-items: center;

			.icon {
				width: 24px;
				height: 24px;
				background-image: url('/images/icons/right-arrow.svg');
			}
		}

		&:hover:not(:disabled) {
			background-color: $neutral-white;

			.buttonText {
				color: $primary-red;
			}

			.icon {
				background-image: url('/images/icons/top-right-arrow-red.svg');
			}
		}

		&:active:not(:disabled) {
			background-color: $secondary-lite-red-1;
			transform: none;

			.buttonText {
				color: $primary-red;
			}

			.icon {
				background-image: url('/images/icons/top-right-arrow-red.svg');
			}
		}

		&:disabled {
			background-color: $neutral-grey;
			cursor: not-allowed;

			.buttonText {
				color: $neutral-white;
			}
		}
	}
}

.disabledContainer {
	cursor: not-allowed;
	& > div {
		background-color: $neutral-grey;
		&:before {
			background-color: $neutral-grey;
		}
		&:hover {
			background-color: $neutral-grey;
			&:before {
				background-color: $neutral-grey;
			}
		}
		&:active {
			background-color: $neutral-grey;
			&:before {
				background-color: $neutral-grey;
			}
		}
	}
}

@media (max-width: 1024px) {
	.container {
		min-width: 312px;

		.buttonContainer {
			min-width: 310px;
			.buttonText {
				font-family: $button-tablet-font;
				font-weight: $button-tablet-weight;
				font-size: $button-tablet-size;
				line-height: $button-tablet-line-height;
				text-align: $button-tablet-text-align;
			}
		}
	}
}

@media (max-width: 739px) {
	.container {
		min-width: 288px;
		width: calc(100% - 2px);
		height: 64px;

		.buttonContainer {
			min-width: 286px;
			width: calc(100% - 2px);
			height: 62px;
			.buttonText {
				font-family: $button-tablet-font;
				font-weight: $button-tablet-weight;
				font-size: $button-tablet-size;
				line-height: $button-tablet-line-height;
				text-align: $button-tablet-text-align;
			}
		}
	}
}
