@import '/styles/variables';

.inputGroup {
	position: relative;
	width: 100%;
	margin-bottom: 24px;

	.textAreaContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: relative;

		span p {
			position: absolute;
			background-color: $neutral-white;
			bottom: 4px;
			right: 16px;
			color: $neutral-dark-grey;
			font-family: $primary-font-family;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			text-align: left;
		}
	}

	textarea {
		height: 120px;
		border: none;
		padding: 18px 16px;
		font-family: $primary-font-family;
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		text-align: left;
		border-radius: 8px;

		@media (max-width: 739px) {
			font-size: 16px;
			line-height: 24px;
		}

		&:focus-visible {
			outline: none;
		}
	}

	input {
		height: 72px;
		padding: 18px 16px;
		font-family: $primary-font-family;
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		text-align: left;
		border: none;
		border-radius: 8px;

		@media (max-width: 739px) {
			height: 60px;
			font-size: 16px;
			line-height: 24px;
		}

		&:focus-visible {
			outline: none;
		}
	}

	.inputField {
		width: 100%;

		&::placeholder {
			font-family: $primary-font-family;
			font-size: 18px;
			font-weight: 400;
			line-height: 26px;
			text-align: left;
			color: $neutral-dark-grey;
			@media (max-width: 739px) {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}

	label {
		font-family: $primary-font-family;
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		text-align: left;
		width: 100%;
		display: block;
		background-color: $secondary-ultra-lite-blue;
		margin-bottom: 16px;
	}
}

.note {
	font-family: $primary-font-family;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
	color: $neutral-dark-grey;
	background-color: $secondary-ultra-lite-blue;
	width: 100%;
	display: block;
}

@media (max-width: 1024px) {
  .inputGroup{
    margin-bottom: 16px;
  }
}
