NEXT_PUBLIC_STRAPI_URL="http://localhost:1337"
NEXT_PUBLIC_PAGE_SIZE="9999999"
NEXT_PUBLIC_SITE_URL="https://shkolapavlenko.ru"
STRAPI_API_TOKEN=""
STRAPI_WEBHOOK_SECRET=""
UNISENDER_API_KEY=""
UNISENDER_LIST_ID=''
EMAIL_USER=''
EMAIL_PASS=''
EEMAIL_TO=''
NEXT_PUBLIC_PUBLIC_ID_PAYMENT="test_api_00000000000000000000002"
#NEXT_PUBLIC_PUBLIC_ID_PAYMENT=""
NEXT_PUBLIC_ACCOUNT_ID_PAYMENT=""
CLOUDPAYMENTS_API_SECRET=""
