@import "/styles/variables";

.container {
  width: 100%;

  .swiperContainer {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

.largeContainer {
  .swiperContainer {
    max-width: 1440px;
  }
}

.mediumContainer {
  padding: 20px 56px 40px 56px;

  .swiperContainer {
    border-radius: 24px;
    max-width: 1328px;
  }
}

.darkContainer {
  background-color: $primary-blue;
}

.lightContainer {
  background-color: $neutral-white;
}

.greyContainer {
  background-color: $neutral-grey;
}

@media (max-width: 1024px) {
  .container {

    .swiperContainer {
      max-width: 1024px;
    }
  }

  .mediumContainer {
    padding: 24px 32px 40px 32px;
  }

}
@media (max-width: 739px) {
  .container {

    .swiperContainer {
      max-width: unset;
    }
  }

  .mediumContainer {
    padding: 0;

    .swiperContainer {
      max-height: unset;
      border-radius: 0;
    }
  }
}
