@import '/styles/variables';

.container {
    position: relative;
    padding: 4px;
    @media (max-width: 1180px) {
        padding: 0;
        width: 100%;
    }
    .link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 9px;
        cursor: pointer;
        @media (max-width: 1180px) {
            padding: 15px 4px;
            width: 100%;
        }
        span {
            @media (max-width: 1180px) {
                font-size: $p-desktop-primary-size;
                line-height: $p-desktop-primary-line-height;
            }
        }
        .icon {
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("/images/icons/arrow-down-dark.svg");
            transition: opacity 0.5s ease-in-out;
            width: 16px;
            height: 16px;
        }
        .icon.active {
            background-image: url("/images/icons/arrow-up-dark.svg");
        }

        &:hover {
            span {
                color: $secondary-blue-2;
            }

            svg {
                filter: invert(43%) sepia(19%) saturate(508%) hue-rotate(153deg) brightness(95%) contrast(93%);
            }
        }
    }

    .dropdownMenuWrapper {
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.5s linear, opacity 0.5s cubic-bezier(0.5, 0.12, 0.46, 0.88);
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 1001;
        @media (max-width: 1180px) {
            position: relative;
            width: 100%;
            padding: 0;
            display: grid;
            grid-template-rows: 0fr;
            transition:
                    grid-template-rows 0.5s ease-out,
                    visibility 0.5s linear,
                    opacity 0.5s cubic-bezier(0.5, 0.12, 0.46, 0.88);
        }
        .dropdownMenu {
            overflow: hidden;
            width: 320px;
            border-radius: 16px;
            padding: 12px;
            @media (max-width: 1180px) {
                width: 100%;
                padding: 0;
            }
            .dropdownElement {
                list-style: none;
                padding: 4px;
                @media (max-width: 1180px) {
                    padding: 0;
                    height: 56px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
                .link {
                    text-decoration: none;
                    @media (max-width: 1180px) {
                        padding: 2px 4px 2px 16px;
                        max-width: 320px;
                    }
                    &:hover {
                        span {
                            color: $secondary-blue-2;
                        }
                    }
                }
            }
        }

        &.active {
            opacity: 1;
            visibility: visible;
            @media (max-width: 1180px) {
                margin-bottom: 16px;
                grid-template-rows: 1fr;
            }
        }
    }

}

.lightContainer {
    .link {
        span {
            color: $primary-blue;
            @media (max-width: 739px) {
                color: $primary-blue;
            }
        }
    }

    .dropdownMenu {
        background-color: $primary-blue;
        @media (max-width: 1180px) {
            background-color: $neutral-white;
        }
        @media (max-width: 739px) {
            background-color: $neutral-white;
        }
        .link {
            span {
                color: $neutral-white;
                @media (max-width: 1180px) {
                    color: $primary-blue;
                }
                @media (max-width: 739px) {
                    color: $primary-blue;
                }
            }
        }

    }
}

.darkContainer {
    .link {
        span {
            color: $neutral-white;
        }
        .icon {
            background-image: url("/images/icons/arrow-down.svg");
        }
        .icon.active {
            background-image: url("/images/icons/arrow-up.svg");
        }
    }

    .dropdownMenu {
        background-color: $secondary-ultra-lite-blue;
        @media (max-width: 1180px) {
            background-color: $primary-blue;
        }
        .link {
            span {
                color: $primary-blue;
                @media (max-width: 1180px) {
                    color: $neutral-white;
                }
            }
        }

    }
}

.greyContainer {
    .link {
        span {
            color: $primary-blue;
            @media (max-width: 739px) {
                color: $primary-blue;
            }
        }
    }

    .dropdownMenu {
        background-color: $primary-blue;
        @media (max-width: 1180px) {
            background-color: $secondary-ultra-lite-blue;
        }
        @media (max-width: 739px) {
            background-color: $neutral-grey;
        }
        .link {
            span {
                color: $neutral-white;
                @media (max-width: 1180px) {
                    color: $primary-blue;
                }
                @media (max-width: 739px) {
                    color: $primary-blue;
                }
            }
        }
    }
}

.ultraLiteContainer {
    .link {
        span {
            color: $primary-blue;
            @media (max-width: 739px) {
                color: $primary-blue;
            }
        }
    }

    .dropdownMenu {
        background-color: $primary-blue;
        @media (max-width: 739px) {
            background-color: $secondary-ultra-lite-blue;
        }
        .link {
            span {
                color: $neutral-white;
                @media (max-width: 739px) {
                    color: $primary-blue;
                }
            }
        }
    }
}

.lightAndDarkContainer {
    .link {
        span {
            color: $primary-blue;
            @media (max-width: 739px) {
                color: $neutral-white;
            }
        }
        .icon {
            @media (max-width: 739px) {
                background-image: url("/images/icons/arrow-down.svg");
            }
        }
        .icon.active {
            @media (max-width: 739px) {
                background-image: url("/images/icons/arrow-up.svg");
            }
        }
    }

    .dropdownMenu {
        background-color: $primary-blue;
        @media (max-width: 739px) {
            background-color: $secondary-ultra-lite-blue;
        }
        .link {
            span {
                color: $neutral-white;
                @media (max-width: 739px) {
                    color: $primary-blue;
                }
            }
        }

    }
}