@import "/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 56px 120px 56px;
  gap: 56px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1024px) {
    padding: 60px 32px 60px 32px;
    gap: 32px;
  }
  @media (max-width: 739px) {
    padding: 40px 16px 40px 16px;
    gap: 24px;
  }
  .notFoundContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px 0;
    align-items: center;
 
  }

  .description {
    h3 {
      color:$neutral-dark-grey;
    }
  }

  .headerContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 72px;
  }
}


@media (max-width: 1024px) {

}

@media (max-width: 739px) {
  
}

