@import "/styles/variables";


.header {
    padding: 24px 56px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: $neutral-black
}
.documentContainer {
  display: flex;
  flex-direction: column;
  padding: 0 56px 120px 56px;
}

@media (max-width: 1024px) {
  .header {
    padding: 16px 32px;
    font-size: 40px;
    line-height: 56px;
  }
  .documentContainer {
    padding: 20px 32px 60px 32px;
  }
}  
@media (max-width: 739px) {
  .header {
    padding: 16px;
    font-size: 26px;
    line-height: 32px;
  }
  .documentContainer {
    padding: 16px 16px 60px 16px;
  }
}
