@import "/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px 56px 120px;
  gap: 48px;
  max-width: 1440px;

  @media (max-width: 1024px) {
    padding: 40px 32px 60px;
    gap: 40px;
  }

  @media (max-width: 739px) {
    padding: 20px;
    gap: 16px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 739px) {
    grid-template-columns: 1fr;
  }
}

.error,
.empty {
  color: $neutral-black;
  font-size: 18px;
  line-height: 26px;
}
