.container {
    padding: 80px 56px;
}

@media (max-width: 1024px) {
    .container {
        padding: 20px 32px;
    }
}

@media (max-width: 739px) {
    .container {
        padding: 16px 0;
    }
}