@import "/styles/variables";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $secondary-lite-blue;
  color: $neutral-white;
  width: 432px;
  height: 508px;
  border-radius: 24px;
  overflow: hidden;
}

.cardHeader {
  background-color: $secondary-lite-blue;
  height: 226px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 432px;
    height: 226px;
  }
}

.cardBody {
  padding: 24px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  p {
    color: $neutral-black;
  }

  h5 {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: $primary-blue;
    overflow: hidden;
  }
}

.cardBodyText {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 176px;
  .description {
    height: 104px;
  }
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;

  .mobileArrow {
    display: none;
  }

  .categoryContainer {
    display: flex;
    align-items: center;
    gap: 5px;

    &.columnLayout {
      flex-direction: column;
      align-items: flex-start;
    }

    p {
      color: $secondary-blue-2;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }

  a {
    img {
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: rotate(-45deg);
    }
  }
}

@media (max-width: 1024px) {
  .card {
    max-width: 320px;
    width: 100%;
    height: 382px;
    border-radius: 16px;

    .cardBody {
      padding: 16px;
      gap: 5px;
      height: 216px;
      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
    .cardBodyText {
      height: 156px;
      gap: 8px;
      .description {
        height: 96px;
        overflow: hidden;
      }
    }

    h5 {
      font-size: 18px;
      line-height: 24px;
    }
    .cardHeader {
      height: 166px;

      img {
        width: 320px;
        height: 100%;
      }
    }

    .categoryContainer {
      img {
        width: 16px;
        height: 16px;
      }
    }
    .cardFooter {
      height: 22px;

      .categoryContainer {
        gap: 4px;
      }
    }
    .desktopArrow {
      display: none;
    }

    .mobileArrow {
      display: block;
    }
  }
}

@media (max-width: 739px) {
  .card {
    width: 100%;
    height: 290px;
    border-radius: 12px;

    .cardBody {
      padding: 16px;
      gap: 0;
      height: 148px;

      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
    .cardBodyText {
      height: 138px;
      gap: 4px;
      .description {
        height: 80px;
      }
    }

    h5 {
      font-size: 14px;
      line-height: 20px;
    }

    .cardHeader {
      height: 166px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }   
  }
}

.aboutUsContainer{
  .cardHeader{

  }
  .cardBody{
    .cardBodyText{
      .title{

      }
      .description{

      }
    }
    .cardFooter{
      .categoryContainer{

      }
      .columnLayout{

      }
      .desktopArrow{

      }
      .mobileArrow{

      }
    }
  }
}

@media (max-width: 1024px) {
  .aboutUsContainer{
    .cardHeader{
  
    }
    .cardBody{
      .cardBodyText{
        .title{
  
        }
        .description{
  
        }
      }
      .cardFooter{
        .categoryContainer{
  
        }
        .columnLayout{
  
        }
        .desktopArrow{
  
        }
        .mobileArrow{
  
        }
      }
    }
  }
}

@media (max-width: 739px) {
  .aboutUsContainer{
    .cardHeader{
  
    }
    .cardBody{
      .cardBodyText{
        .title{
  
        }
        .description{
  
        }
      }
      .cardFooter{
        .categoryContainer{
  
        }
        .columnLayout{
  
        }
        .desktopArrow{
  
        }
        .mobileArrow{
  
        }
      }
    }
  }
}
