@import '/styles/variables';

.buttonContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-width: 0;
    transition: background-color 0.3s ease-out;
    border-radius: 8px;
    padding: 16px 24px 16px 32px;
    cursor: pointer;

    .buttonImage {
        display: flex;
        transition: padding 0.3s ease;
        width: 32px;
        height: 32px;
        padding: 8px;

        .icon {
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("/images/icons/heart.svg");
            transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
            width: 100%;
            height: 100%;
        }
        .icon.hovering {
            background-image: url("/images/icons/heart-filled-white.svg");
        }
    }

    &:active {
        .buttonImage {
            padding: 4px;
        }
        .icon {
            transform: scale(1.35);
        }
    }
}

.lightContainer {
    background-color: $primary-blue;

    span {
        color: $neutral-white;
    }

    &:hover {
        background-color: $secondary-blue-2;
    }

    &:active {
        background-color: $neutral-black;
    }
}

.darkContainer {
    background-color: $secondary-ultra-lite-blue;

    span {
        color: $primary-blue;
    }

    .buttonImage {
        .icon {
            background-image: url("/images/icons/heart-dark.svg");
        }
        .icon.hovering {
            background-image: url("/images/icons/heart-filled-dark.svg");
        }
    }

    &:hover {
        background-color: $neutral-white;
    }

    &:active {
        background-color: $neutral-grey;
    }
}

.lightAndDarkContainer {
    background-color: $primary-blue;

    @media (max-width: 739px) {
        background-color: $secondary-ultra-lite-blue;
    }
    span {
        color: $neutral-white;
        @media (max-width: 739px) {
            color: $primary-blue;
        }
    }

    &:hover {
        background-color: $secondary-blue-2;
        @media (max-width: 739px) {
            background-color: $neutral-white;
        }
    }

    &:active {
        background-color: $neutral-black;
        @media (max-width: 739px) {
            background-color: $neutral-grey;
        }
    }
}

.greyContainer, .ultraLiteContainer {
    background-color: $primary-blue;

    span {
        color: $neutral-white;
    }

    &:hover {
        background-color: $secondary-blue-2;
    }

    &:active {
        background-color: $neutral-black;
    }
}

.redContainer {
    background-color: $primary-red;
    border-radius: 16px;

    .buttonImage {
        transition: padding 0.3s ease;
        width: 32px;
        height: 32px;
        padding: 4px;
    }

    span {
        color: $neutral-white;
    }

    &:hover {
        background-color: $primary-red;
    }

    &:active {
        background-color: $primary-red;

        .buttonImage {
            padding: 0;
        }
    }

    &:disabled {
        background-color: $neutral-grey;
    }
}