@import "/styles/variables";

.publicationLibraryContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.grid {

    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px;
  
    @media (max-width: 1400px) {
      grid-template-columns: 1fr; 
      margin: 0 auto;
    }

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr); 
      gap: 40px;
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr; 
      margin: 0 auto;
      gap: 16px
    }
  }
  



