@import "/styles/variables";

.feedbackContainer {
    font-family: Nunito;
    background: $neutral-white;
    border-radius: 24px;
    width: 656px;
    height: 419px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: auto;

    .imageContainer {
        width: 48px;
        height: 48px;
        min-height: 48px;
        min-width: 48px;
        background-image: url('/images/quote-inactive.svg');
    }

    .textContainer {
        height: 242px;
    }

    .overflowTextContainer {
        height: 182px;
        overflow: hidden;
        white-space: pre-wrap;
        word-wrap: break-word;
        text-overflow: ellipsis;
        position: relative;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        line-height: 26px;
    }

    .infoContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .dateContainer {
            color: $secondary-blue-2;
        }

        .cityContainer {
            color: $secondary-blue-2;
        }
    }

    .linkContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        cursor: pointer;
        gap: 16px;

        .linkText {
            color: $primary-blue;
            font-size: 22px;
            font-weight: 600;
            line-height: 30.01px;
        }

        .iconContainer {
            display: flex;
            align-items: center;

            .icon {
                width: 24px;
                height: 24px;
                background-image: url('/images/icons/right-arrow-pagination.svg');
            }
        }

        &:hover {
            .linkText {
                color: $secondary-blue-2;
            }
            .iconContainer {
                .icon {
                    background-image: url('/images/icons/top-right-arrow-gray.svg');
                }
            }
        }

        &:active {
            .linkText {
                color: $neutral-black;
            }
            .iconContainer {
                .icon {
                    background-image: url('/images/icons/top-right-arrow-black.svg');
                }
            }
        }
    }
}

.feedbackContainerActive {
    .imageContainer {
        background-image: url('/images/quote-active.svg');
    }
}