@import '/styles/variables';

.container {
	padding: 80px 56px;
	.main {
		display: flex;
		flex-direction: column;
		border-radius: 24px;
		padding: 56px;
		gap: 88px;
		background-color: $primary-blue;
		.topContainer {
			display: flex;
			justify-content: space-between;
			.formContainer {
				display: flex;
				flex: 2 1;
				flex-direction: column;
				gap: 40px;
				.textContainer {
					display: flex;
					flex-direction: column;
					gap: 24px;
					.header {
						color: $neutral-white;
						h3 span {
							font-family: $secondary-font-family;
							font-weight: 400;
							font-style: italic;
							font-size: 56px;
							line-height: 36px;
							color: $primary-red;
						}
					}
					.ulContainer {
						.list {
							list-style-type: none;
							.listItem {
								display: flex;
								align-items: center;
								gap: 12px;
								margin-bottom: 16px;
								color: $neutral-white;
								.icon {
									width: 15px;
									height: 13px;
								}
							}
						}
					}
				}
				.buttonContainer{
					max-width: 320px;
				}
			}
			.logoContainer {
				flex: 1 1;
				display: flex;
				justify-content: center;
				align-items: center;
				.logo {
					width: 308px;
					height: 310px;
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.container {
		padding: 60px 32px;
		.main {
			padding: 32px;
			gap: 48px;
			.topContainer {
				justify-content: start;
				.formContainer {
					gap: 32px;
					.textContainer {
						display: flex;
						flex-direction: column;
						gap: 16px;
						.header {
							color: $neutral-white;
							h3 span {
								font-size: 40px;
							}
						}
						.ulContainer {
							.list {
								.listItem {
									gap: 12px;
									margin-bottom: 14px;
								}
							}
						}
					}
					.buttonContainer{
						max-width: unset;
						width: 312px;
						min-width: 312px;
					}
				}
				
				.logoContainer {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 739px) {
	.container {
		padding: 40px 0;
		.main {
			padding: 40px 16px;
			border-radius: unset;
			.topContainer {
				.formContainer {
					gap: 24px;
					.textContainer {
						.header {
							h3 span {
								font-size: 32px;
								line-height: 20px;
							}
						}
						.ulContainer {
							.list {
								.listItem {
									gap: 10px;
									margin-bottom: 12px;
								}
							}
						}
					}
				}
			}
		}
	}
}
