@import "/styles/variables";

.container {
  padding: 80px 56px 80px 56px;
  background-color: $neutral-white;
  .mainContainer {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 56px;
    border: none;
    border-radius: 24px;
    background-color: $secondary-ultra-lite-blue;
    .logoContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        width: 308px;
        height: 310px;
      }
    }
    .formContainer {
      flex: 2 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 48px;

      .header {
        display: flex;
        flex-direction: column;
        gap: 24px;
        h3 {
          font-family: $primary-font-family;
          font-weight: 600;
          font-size: 32px;
          line-height: 44px;
          color: $primary-blue;
        }
        h4 {
          font-family: $primary-font-family;
          font-weight: 600;
          font-size: 26px;
          line-height: 36px;
          color: $primary-blue;
        }
      }

      .inputContainer {
        width: 100%;
        .tabLogo {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    gap: 32px;
    padding: 60px 32px 60px 32px;
    .mainContainer {
      gap: 32px;
      padding: 32px;
      .logoContainer {
        display: none;
      }
      .formContainer {
        .header {
          gap: 8px;
          h3 {
            font-weight: 600;
            font-size: 22px;
            line-height: 30px;
          }
          h4 {
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
          }
        }

        .inputContainer {
          display: flex;
          gap: 16px;
          .tabLogo {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            .logo {
              max-height: 230px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 739px) {
  .container {
    padding: 40px 0 0 0;
    .mainContainer {
      padding: 32px 16px;
      border-radius: unset;
      flex-direction: column;
      .formContainer {
        gap: 32px;
        .header {
          h3 {
            font-size: 18px;
            line-height: 25px;
          }
          h4 {
            font-size: 18px;
            line-height: 22px;
          }
        }
        .inputContainer {
          display: flex;
          gap: 16px;
          .tabLogo {
            display: none;
          }
        }
      }
    }
  }
}
