@import '/styles/variables';

// .card {
// 	display: flex;
// 	flex-direction: column;
// 	border: 1px solid $secondary-lite-blue;
// 	color: $neutral-white;
// 	width: 432px;
// 	height: 508px;
// 	border-radius: 24px;
// 	overflow: hidden;
// }

// .cardHeader {
// 	background-color: $secondary-lite-blue;
// 	height: 226px;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;

// 	img {
// 		width: 432px;
// 		height: 226px;
// 	}
// }

// .cardBody {
// 	padding: 24px;
// 	height: 282px;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: space-between;
// 	gap: 16px;

// 	p {
// 		color: $neutral-black;
// 	}

// 	h5 {
// 		font-family: Nunito;
// 		font-size: 20px;
// 		font-weight: 600;
// 		line-height: 28px;
// 		color: $primary-blue;
// 		overflow: hidden;
// 	}
// }

// .cardBodyText {
// 	display: flex;
// 	flex-direction: column;
// 	gap: 16px;
// 	height: 176px;
// 	.description {
// 		max-height: 76px;
// 		height: 104px;
// 		text-overflow: ellipsis;
// 	}
// }

// .cardFooter {
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-between;
// 	height: 52px;

// 	.mobileArrow {
// 		display: none;
// 	}

// 	.categoryContainer {
// 		display: flex;
// 		align-items: center;
// 		gap: 5px;

// 		&.columnLayout {
// 			flex-direction: column;
// 			align-items: flex-start;
// 		}

// 		p {
// 			color: $secondary-blue-2;
// 		}

// 		img {
// 			width: 24px;
// 			height: 24px;
// 		}
// 	}

// 	a {
// 		img {
// 			transition: transform 0.3s ease;
// 		}

// 		&:hover img {
// 			transform: rotate(-45deg);
// 		}
// 	}
// }

.card {
	height: 508px;
	max-width: 432px;
	display: flex;
	flex-direction: column;
	border: 1px solid $secondary-lite-blue;
	color: $neutral-white;
	border-radius: 24px;
	overflow: hidden;
	.cardHeader {
		height: 226px;
		img {
			object-fit: cover;
		}
	}
	.cardBody {
		height: 282px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 24px;
		.cardBodyText {
			display: flex;
			flex-direction: column;
			gap: 16px;
			max-height: 175px;
			.title {
				font-family: Nunito;
				font-weight: 600;
				font-size: 20px;
				line-height: 28px;
				color: #0f384a;
			}
			.description {
				font-family: Nunito;
				font-weight: 400;
				font-size: 18px;
				line-height: 26px;
				overflow: hidden;
			}
		}
		.cardFooter {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 52px;

			.mobileArrow {
				display: none;
			}

			.categoryContainer {
				display: flex;
				align-items: center;
				gap: 5px;

				&.columnLayout {
					flex-direction: column;
					align-items: flex-start;
				}

				p {
					color: $secondary-blue-2;
				}

				img {
					width: 24px;
					height: 24px;
				}
			}
			a {
				img {
					transition: transform 0.3s ease;
				}
				&:hover img {
					transform: rotate(-45deg);
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.card {
		max-width: 320px;
		height: 382px;
		border-radius: 16px;
		.cardBody {
			max-height: 216px;
			padding: 16px;
			gap: 8px;
			.cardBodyText {
				height: 156px;
				gap: 12px;
				.title {
					font-family: Nunito;
					font-weight: 600;
					font-size: 18px;
					line-height: 24px;
				}
				.description {
					font-family: Nunito;
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
					max-height: 96px;
					overflow: hidden;
				}
			}
		}
		.cardHeader {
			height: 166px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

@media (max-width: 739px) {
	.card {
		height: 290px;
		min-width: 208px;
		border-radius: 12px;
		.cardBody {
			max-height: 182px;
			padding: 10px;
			gap: 8px;
			.cardBodyText {
				height: 138px;
				gap: 8px;
				.title {
					font-size: 14px;
					line-height: 20px;
          max-height: 40px;
          overflow: hidden;
				}
				.description {
					font-size: 12px;
					line-height: 16px;
					max-height: 90px;
					overflow: hidden;
				}
			}
		}
		.cardHeader {
			height: 108px;
			img {
				width: 100%;
				height: 100%;
			}
		}

		.cardFooter {
			height: unset;
			.categoryContainer {
				p {
					font-size: 12px;
					line-height: 16px;
				}
			}
      // .desktopArrow{
      //   display: none;
      // }
      .mobileArrow {
        display: block;
      }
		}
  
	}
}
