@import '/styles/variables';

.card {
	height: 508px;
	max-width: 432px;
	display: flex;
	flex-direction: column;
	border: 1px solid $secondary-lite-blue;
	color: $neutral-white;
	border-radius: 24px;
	overflow: hidden;
	.cardHeader {
		height: 226px;
		overflow: hidden;
		.imageContainer {
			width: 100%;
			height: 100%;
			transition-duration: 1000ms;
		}
		img {
			object-fit: cover;
		}
	}
	.cardBody {
		height: 282px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 24px;
		.cardBodyText {
			display: flex;
			flex-direction: column;
			gap: 16px;
			overflow: hidden;
			max-height: 175px;
			.title {
				font-family: Nunito;
				font-weight: 600;
				font-size: 20px;
				line-height: 28px;
				color: #0f384a;
			}
			.description {
				font-family: Nunito;
				font-weight: 400;
				font-size: 18px;
				line-height: 26px;
				overflow: hidden;
			}
		}
		.cardFooter {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 52px;

			.mobileArrow {
				display: none;
			}

			.categoryContainer {
				display: flex;
				align-items: center;
				gap: 5px;

				&.columnLayout {
					flex-direction: column;
					align-items: flex-start;
				}

				p {
					color: $secondary-blue-2;
				}

				img {
					width: 24px;
					height: 24px;
				}
			}
			img {
				transition: transform 0.3s ease;
			}
		}
	}
	&:hover {
		.cardHeader {
			.imageContainer {
				transform: scale(1.1);
			}
		}
		.cardBody .cardFooter .arrowIcon {
			transform: rotate(-45deg);
		}
	}
}

@media (max-width: 1024px) {
	.card {
		max-width: 320px;
		height: 382px;
		border-radius: 16px;
		.cardBody {
			max-height: 216px;
			padding: 16px;
			gap: 6px;
			.cardBodyText {
				height: 125px;
				gap: 12px;
				.title {
					font-family: Nunito;
					font-weight: 600;
					font-size: 18px;
					line-height: 24px;
				}
				.description {
					font-family: Nunito;
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
					max-height: 82px;
					overflow: hidden;
				}
			}
			.cardFooter {
				height: 40px;
				.categoryContainer {
					gap: 0;
					p {
						font-size: 14px;
						line-height: 20px;
					}
				}
			}
		}
		.cardHeader {
			height: 166px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

@media (max-width: 739px) {
	.card {
		height: 290px;
		min-width: 208px;
		border-radius: 12px;
		.cardBody {
			max-height: 182px;
			padding: 10px;
			gap: 8px;
			.cardBodyText {
				height: 112px;
				gap: 8px;
				.title {
					font-size: 14px;
					line-height: 20px;
				}
				.description {
					font-size: 12px;
					line-height: 16px;
					height: unset;
					max-height: unset;
					overflow: hidden;
				}
			}
			.cardFooter {
				height: unset;
				.categoryContainer {
					p {
						font-size: 12px;
						line-height: 16px;
					}
				}
				.desktopArrow{
					display: none;
				}
				.mobileArrow {
					display: block;
				}
			}
		}
		.cardHeader {
			height: 108px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
