@import "/styles/variables";

.container {
  display: block;
  width: 100%;

  .desktopSwiper {
    @media (max-width: 739px) {
      display: none;
    }
  }

  .mobileSwiper {
    display: none;
    @media (max-width: 739px) {
      display: block;
    }
  }

  .swiperContainer {
    display: block;
    margin: 0 auto;
    width: 100%;

    .swiperSlide {
      background: $neutral-white;
      max-width: 656px;
      max-height: 514px;
      overflow: hidden;

      @media (max-width: 1024px) {
        max-width: 416px;
        max-height: 326px;
      }
      @media (max-width: 739px) {
        max-width: 240px;
        max-height: 223px;
        margin: 0 8px;
      }
    }
  }
}