@import "/styles/variables";

.newsContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @media (max-width: 1024px) {
    gap: 40px;
  }
  @media (max-width: 739px) {
    gap: 16px;
  }
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px;
  
    @media (max-width: 1400px) {
      grid-template-columns: 1fr; 
      margin: 0 auto;
    }

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr); 
      gap: 40px;
    }
     @media (max-width: 739px) {
      grid-template-columns: 1fr; 
      margin: 0 auto;
      gap: 16px;
    }
  }
  