@import "/styles/variables";

.staffаContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px;
  
    @media (max-width: 1400px) {
      grid-template-columns: 1fr; 
      margin: 0 auto;
    }

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr); 
    }
     @media (max-width: 500px) {
      grid-template-columns: 1fr; 
      margin: 0 auto;
    }
  }
  