@import "/styles/variables";

.mentorCard {
  border-radius: 24px;
  width: 100%;
  border: 1px solid $secondary-lite-blue;
  aspect-ratio: 1.7685;
  max-width: 432px;

  @media (max-width: 1024px) {
    aspect-ratio: 1.756;
    max-width: unset;
    min-width: 320px;
  }

  @media (max-width: 739px) {
    min-width: 288px;
    max-width: unset;
    max-height: unset;
    aspect-ratio: 1.84;
    height: unset;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;

  @media (max-width: 1024px) {
  }

  @media (max-width: 739px) {
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;

  @media (max-width: 1024px) {
    gap: 16px;
    padding: 16px;
  }

  .personData {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    @media (max-width: 1024px) {
      gap: 10px;
    }

    .name {
      h5 {
        font-family: Nunito, sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        text-align: left;
        color: $primary-blue;

        @media (max-width: 1024px) {
          font-size: 18px;
          line-height: 24px;
        }

        @media (max-width: 739px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .biography {
      overflow: hidden;
      height: 182px;
      text-overflow: clip; 

      p {
        color: $neutral-black
      }

      @media (max-width: 1024px) {
        height: 140px;

        p {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  .details {
    display: flex;
    justify-content: space-between;

    .specialty p {
      text-align: end;
    }

    .location p,
    .specialty p {
      color: $secondary-blue-2;
      @media (max-width:  1024px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
