@import "/styles/variables";

.donationContainer {
  background-color: $secondary-ultra-lite-blue;
  border-radius: 24px;
  padding: 56px;
  margin: 0 auto;
  gap: 48px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.blurred {
    filter: blur(4px);
    pointer-events: none;
  }

  .highlight {
    font-family: $h2-desktop-secondary-font;
    font-weight: $h2-desktop-secondary-weight;
    font-size: $h2-desktop-secondary-size;
    line-height: $h2-desktop-secondary-line-height;
    color: $h1-desktop-secondary-color;
  }

  .amountSelection {
    display: flex;
    justify-content: space-between;
    gap: 80px;

    .amountSelectionForm {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    .segmentedControl {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .frequencyRadioButton {
        width: 100%;
      }

      .segmentedControlAmount,
      .segmentedControlFrequency {
        position: relative;
        display: flex;
        border: 1px solid $secondary-lite-blue;
        border-radius: 50px;
        background-color: $neutral-white;
        overflow: hidden;

        input[type="radio"] {
          display: none;
        }

        label {
          flex: 1;
          padding: 14px 50px;
          text-align: center;
          cursor: pointer;
          font-family: $primary-font-family;
          font-weight: $p-desktop-primary-weight;
          font-size: $p-desktop-primary-size;
          line-height: $p-desktop-primary-line-height;
          color: $secondary-blue-2;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          z-index: 1;
          transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
        }

        input[type="radio"]:checked + label {
          background-color: $secondary-blue-2;
          color: $secondary-ultra-lite-blue;
          border-radius: 100px;
        }
        input[type="radio"]:checked + label:hover {
          background-color: $secondary-blue-2;
          color: $secondary-ultra-lite-blue;
          border-radius: 100px;
        }
        input[type="radio"]:hover + label {
          background-color: $secondary-lite-blue;
          color: $primary-blue;
          border-radius: 100px;
        }

        .slider {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background-color: $secondary-blue-2;
          border-radius: 50px;
          transition: transform 0.3s ease, width 0.3s ease;
          z-index: 0;
        }
      }
    }
  }

  .menuButton {
    margin-top: 8px;
    max-width: 320px;
  }

  .supportImg {
    display: block;
  }
}

.secondStepBackLink {
  cursor: pointer;
  align-items: center;
  gap: 8px;
  display: flex;
  margin-bottom: 8px;

  p {
    color: $primary-blue;
  }

  &:hover {
    text-decoration: underline;
  }
}

.infoSelection {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.infoSelectionRight {
  max-width: 760px;
  width: 100%;
  @media (max-width: 1024px) {
    max-width: 100%;
  }
}
.infoSelectionHeadr {
  flex-direction: column;
  display: flex;
  h3 {
    margin-bottom: 32px;
    @media (max-width: 739px) {
      margin-bottom: 24px;
    }
  }
}

.infoSelectionForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.secondStepInput,
.firstStepInput {
  display: flex;
  flex-direction: column;

  label {
    font-family: $primary-font-family;
    font-weight: $p-desktop-primary-weight;
    font-size: $p-desktop-primary-size;
    line-height: $p-desktop-primary-line-height;
    color: $secondary-blue-2;
  }

  input {
    height: 60px;
    padding: 18px 16px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    border: none;
    border-radius: 8px;

    &:focus-visible {
      outline: none;
    }

    &:focus {
      border-color: $primary-blue;
    }
  }
  .textareaWrapper {
    position: relative;
    textarea {
      width: 100%;
      min-height: 120px;
      padding: 18px 16px;
      font-family: Nunito;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
      border: none;
      border-radius: 8px;
      background-color: $neutral-white;
      resize: vertical;

      &:focus-visible {
        outline: none;
      }

      &:focus {
        outline: none;
      }
    }

    .charCounter {
      margin-top: 0;
      position: absolute;
      right: 16px;
      bottom: 10px;
      font-size: 14px;
      line-height: 20px;
      color: $neutral-dark-grey;
    }
  }
}

.secondStepToggleContainer {
  display: flex;
  align-items: center;
  gap: 8px;

  .switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
    @media (max-width: 360px) {
      width: 50px;
    }
    input {
      opacity: 0;
      width: 0;
      height: 0;
      cursor: pointer;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $neutral-grey;
      transition: 0.4s;
      border-radius: 22px;

      &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 3px;
        bottom: 3px;
        background-color: $neutral-white;
        transition: 0.4s;
        border-radius: 50%;
      }
    }

    input:checked + .slider {
      background-color: $secondary-blue-2;
    }

    input:checked + .slider:before {
      transform: translateX(20px);
    }
  }

  label {
    font-family: $primary-font-family;
    font-weight: $p-desktop-primary-weight;
    font-size: $p-desktop-primary-size;
    line-height: $p-desktop-primary-line-height;
    cursor: pointer;
    @media (max-width: 739px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.secondStepCheckboxContainerSecond,
.secondStepCheckboxContainerFirst {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  label {
    font-family: $primary-font-family;
    font-weight: $p-desktop-primary-weight;
    font-size: $p-desktop-primary-size;
    line-height: $p-desktop-primary-line-height;
    a {
      color: $secondary-blue-2;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
.secondStepCheckboxContainerFirst {
  margin-top: 24px;
}
.secondStepCheckboxContainerSecond {
  margin-bottom: 8px;
}
.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.checkboxItem {
  display: flex;
  align-items: center;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: $neutral-black;
  cursor: pointer;

  &:hover {
    p {
      color: $secondary-blue-2;
    }
  }

  input[type="checkbox"] {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    appearance: none;
    border: 2px solid $neutral-grey;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    background-color: $neutral-white;
    @media (max-width: 739px) {
      width: 16px;
      height: 16px;
    }

    &:hover {
      border-color: $secondary-blue-2;
    }

    &:checked {
      border-color: $secondary-blue-2;
      background-color: $secondary-blue-2;

      &::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 10px;
        height: 8px;
        background-color: $neutral-white;
        mask: url("/images/icons/checkbox-icon.svg") no-repeat center;
        mask-size: contain;
        @media (max-width: 739px) {
          width: 8px;
          height: 8px;
          top: 2px;
          left: 2px;
        }
      }
    }
  }

  p {
    margin: 0;
    color: $neutral-black;
  }

  a {
    color: $secondary-blue-2;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.error {
  border: 1px solid red !important;
}

.errorCheckbox {
  border: 1px solid red !important;
}
.txhSelection {
  display: flex;
  h4 {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;

    @media (max-width: 739px) {
      font-size: 18px;
      line-height: 22px;
    }
  }
  .txhSelectionForm {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
}
.fullText {
  display: inline;
}

.shortText {
  display: none;
}

@media (max-width: 1024px) {
  .donationContainer {
    padding: 32px;

    h3 .highlight {
      font-family: $h2-tablet-secondary-font;
      font-weight: $h2-tablet-secondary-weight;
      font-size: $h2-tablet-secondary-size;
      line-height: $h2-tablet-secondary-line-height;
      color: $h2-tablet-secondary-color;
    }

    .amountSelection {
      .amountSelectionForm {
        gap: 24px;
        width: 100%;

        .amountRadioButton {
          flex-grow: 1;
        }
      }
      .segmentedControl {
        .segmentedControlAmount,
        .segmentedControlFrequency {
          label {
            padding: 14px 30px;
          }
        }
      }
    }
    .supportImg {
      display: none;
    }
  }
}

@media (max-width: 739px) {
  .donationContainer {
    border-radius: 0;
    padding: 40px 16px;
    gap: 40px;

    h3 {
      color: $neutral-black;

      .highlight {
        font-family: $h2-mobile-secondary-font;
        font-weight: $h2-mobile-secondary-weight;
        font-size: $h2-mobile-secondary-size;
        line-height: $h2-mobile-secondary-line-height;
        color: $h1-mobile-secondary-color;
      }
    }

    .amountSelection {
      justify-content: center;
      align-items: center;

      .amountSelectionForm {
        align-items: center;
        .segmentedControl {
          align-items: center;
          width: 100%;
          gap: 12px;
        }

        .segmentedControlAmount {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          border-radius: 28px;
          width: 100%;

          label {
            padding: 16px;
            border-radius: 100px;
            font-weight: $p-mobile-primary-weight;
            font-size: 16px;
            line-height: 24px;
          }
        }

        .segmentedControlFrequency {
          label {
            padding: 16px;
            border-radius: 100px;
            font-weight: $p-mobile-primary-weight;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }

    .menuButton {
      margin-top: 0;
      max-width: unset;
      width: 100%;
    }

    .supportImg {
      display: none;
    }
  }
  .fullText {
    display: none;
  }
  .shortText {
    display: inline;
  }

  .segmentedControlAmount .slider,
  .segmentedControlFrequency .slider {
    display: none !important;
  }
}
