@import "/styles/variables";

.adaptiveContainer {
  width: 100%;
  .gridContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    aspect-ratio: 25 / 26;
    .top {
      flex: 2 1;
      display: flex;
      gap: 16px;
      margin-left: 13%;
      margin-right: 5%;
      .topLeftImage {
        flex: 1 1;
        position: relative;
        p {
          position: absolute;
          bottom: 16px;
          right: 16px;
          color: $secondary-blue-2;
          font-size: 12px;
          border-radius: 100px;
          background-color: $secondary-ultra-lite-blue;
          padding: 10px 24px;
          @media (max-width: 1024px) {
            display: none;
          }

          @media (max-width: 739px) {
            display: none;
          }
        }
      }
      .topRightImage {
        flex: 1 1;
        display: flex;
        align-items: flex-end;
        img {
          height: 60%;
        }
      }
    }

    .bottom {
      flex: 1 1;
      display: flex;
      gap: 16px;
      .bottomLeftImage {
        flex: 3 1;
        img {
          height: 71%;
        }
      }
      .bottomRightImage {
        flex: 7 1;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
    }
  }
}
