@import "/styles/variables";

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .buttonContainerInner {
    display: flex;
    gap: 8px;
    flex-direction: column;
    .consentCheckboxItem {
      display: flex;
      align-items: center;
      font-family: Nunito;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      color: $neutral-black;
      cursor: pointer;

      input[type="checkbox"] {
        margin-right: 8px;
        width: 20px;
        height: 20px;
        appearance: none;
        border: 2px solid $neutral-grey;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
        background-color: white;

        &:hover {
          border-color: $secondary-blue-2;
        }

        &:checked {
          border-color: $secondary-blue-2;
          background-color: $secondary-blue-2;

          &::after {
            content: "";
            position: absolute;
            top: 4px;
            left: 4px;
            width: 10px;
            height: 8px;
            background-color: white;
            mask: url("/images/icons/checkbox-icon.svg") no-repeat center;
            mask-size: contain;
          }
        }
      }

      p {
        margin: 0;
        color: $neutral-black;

        input[type="checkbox"]:checked + & {
          color: $neutral-black;
        }
      }
    }
  }
  .link {
    color: $secondary-blue-2;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}


@media (max-width: 1024px) {

}

@media (max-width: 739px) {

}
.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}