@import '/styles/variables';

.container {
	display: flex;
	flex-direction: column;
	gap: 56px;
	padding: 80px 56px 80px 56px;

	.headerContainer {
		display: flex;
		justify-content: flex-start;
	}
	.mainContainer {
		display: flex;
		justify-content: center;
		gap: 16px;
		.textContainer {
			flex: 1 1;
		}
		.formContainer {
			flex: 2 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 48px;
			padding: 56px;
			border: none;
			border-radius: 24px;
			background-color: $secondary-ultra-lite-blue;

			.header h4 {
				font-family: $primary-font-family;
				font-weight: 600;
				font-size: 26px;
				line-height: 36px;
				color: $neutral-black;
			}
		}
	}
}

@media (max-width: 1024px) {
	.container {
		gap: 32px;
		padding: 40px 32px;
		.mainContainer {
			flex-direction: column;
			.textContainer > p {
				font-size: 18px;;
				line-height: 26px;
			}
			.formContainer {
				gap: 32px;
				padding: 32px;
				.header h4 {
					font-size: 20px;
					line-height: 28px;
				}
			}
		}
	}
}

@media (max-width: 739px) {
	.container {
		gap: 24px;
		padding: unset;

		.headerContainer{
			padding: 0 16px;
		}
		.mainContainer {
			flex-direction: column;

			.textContainer{
				padding: 0 16px;
			}
			.textContainer > p {
				font-size: 16px;
				line-height: 24px;
			}
			.formContainer {
				gap: 32px;
				padding: 32px 16px;
				border-radius: unset;
				.header h4 {
					font-size: 18px;
					line-height: 22px;
				}
			}
		}
	}
}
