.container {
	display: flex;
	justify-content: center;
	padding: 20px 56px 120px 56px;
}

@media (max-width: 1024px) {
	.container {
		padding: 20px 32px 80px 32px;
	}
}

@media (max-width: 739px) {
	.container {
		padding: 20px 40px 60px 40px;
	}
}
